<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693317028340-clslq6323ti3r1nu2vvib2e5tvlhdp77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693317028340-clslq6323ti3r1nu2vvib2e5tvlhdp77</string>
	<key>API_KEY</key>
	<string>AIzaSyCLhfoDv2NUvUggG42Qn1brpkacnwt_PzM</string>
	<key>GCM_SENDER_ID</key>
	<string>693317028340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.alerty.enterprise</string>
	<key>PROJECT_ID</key>
	<string>alerty-75709</string>
	<key>STORAGE_BUCKET</key>
	<string>alerty-75709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693317028340:ios:7d0b5d7539908165</string>
	<key>DATABASE_URL</key>
	<string>https://alerty-75709.firebaseio.com</string>
</dict>
</plist>